// COLORS
$color-primary: #44bbcc;
$color-primary-light: #8ad5df;
$color-primary-dark: #1399ac;

$color-white: #fff;
$color-black: #000;

$color-gray-dark: #777;
$color-gray-light-1: #f7f7f7;

// FONT
$default-font-size: 1.6rem;
