.composition {
  position: relative;

  &__photo {
    position: absolute;
    width: 55%;
    border-radius: 2px;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    transition: all 0.2s;
    outline-offset: 0.5rem;
    z-index: 10;

    &:hover {
      transform: scale(1.05);
      outline: 1rem solid $color-primary-light;
      z-index: 20;
    }

    &--p1 {
      top: -2rem;
      left: 0;
    }

    &--p2 {
      top: 10rem;
      left: 5rem;
    }

    &--p3 {
      top: 0rem;
      right: -1rem;
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
