.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 1rem 2rem rgba($color-black, 0.08);
  background-color: rgba($color-white, 0.7);
  transform: skewX(-12deg);
  border-radius: $default-border-radius;
  padding: 3rem 6rem 3rem 9rem;
  font-size: $default-font-size;

  @include respond(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include respond(phone) {
    transform: skewX(0deg);
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12.01deg);
    position: relative;
    overflow: hidden;

    @include respond(phone) {
      transform: translateX(-3rem) skewX(0deg);
    }
  }
  0 &__text {
    transform: skewX(12deg);

    @include respond(phone) {
      transform: skewX(0deg);
    }
  }

  &__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all 0.3s;
  }

  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(90%);
  }

  &__caption {
    text-align: center;
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    opacity: 0;
    transition: all 0.2s;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
