body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-gray-dark;
  padding: 3rem;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  &--main {
    font-size: 6rem;
    letter-spacing: 3.5rem;
    display: block;

    animation: moveInLeft 1s ease-out;
  }

  &--sub {
    font-size: 2rem;
    letter-spacing: 1.75rem;
    display: block;

    animation: moveInRight 1s ease-out;
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  transition: all 0.2s;

  &:hover {
    transform: skewX(-20deg) skewY(0deg);
    text-shadow: 0rem 0.3rem 1.5rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
