.section-about {
  background-color: $color-gray-light-1;
  padding: 25rem 0 30rem 0;
  margin-top: -20vh;
}

.section-feature {
  background-image: linear-gradient(
      to right,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  padding: 20rem 0;
  margin-top: -10rem;

  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }
}
